.display {
    background-color: rgb(172, 209, 218);
    padding: 2px;
    width: 280px;
    text-align: right;
    font-size: 35px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

button{
    width: 65;
    height: 60;
    font-size: 25;
    margin: 2;
    cursor: pointer;
    border: none;
    color: white;
    background: #607d8b;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    cursor: pointer;
    background-color: rgb(165, 171, 182);
   }

   button:active {
    background-color: rgb(60, 114, 145);
   }

